body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace;
}

.boxShadowStandard {
  -webkit-box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
  -moz-box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
  box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
}

.contributionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contributionsSingle {
  flex-grow: 1;
  text-align: left;
  margin: 1em;
  padding: 1em;
  max-width: 25%;

  border: 1px solid #61dafb;
  border-radius: 1em;
}

.prevRoleItem{
  font-size: 0.8em;
  margin-right: 10px;
}