body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace;
}

a {
  transition: font-weight 1s;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  font-weight: 800;
}

.boxShadowStandard {
  -webkit-box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
  -moz-box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
  box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
}

/* Header */
.header_navigation-links {
  display: flex;
  flex-display: row;
  justify-content: space-around;

  width: 50%;
  margin: auto;
}


/* Contributions */
.contributions_contributionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contributions_contributionsSingle {
  flex-grow: 1;
  text-align: left;

  min-width: 24em;
  max-width: 24em;

  margin: 1em;
  padding: 1em;
}

.contributions_speechBubble-contributionsSingleSpeech {
  position: relative;
  padding: 1em;

  border: 1px solid #61dafb;
  border-radius: 1em;
}

.contributions_speechBubble-contributionsSingleSpeech:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 42%;
  width: 0;
  height: 0;
  border: 1.5em solid transparent;
  border-top-color: #61dafb;
  border-bottom: 0;
  border-left: 0;
  margin-left: -4.5em;
  margin-bottom: -1.469em;
}

/* PROFILE */
.profile_personalDetails {
  display: flex;
  flex-direction: row;
  flex : 1;
  justify-content: left;
}

.profile_personalDetails-imageWrapper {
  align-self: center;
  padding: 0 1em;
}

.profile_personalDetails-image {
  width: 6em;
  height: 6em;
  border-radius: 3em;
  margin: auto;
}

.profile_personalDetails-prevRoleItem{
  font-size: 0.8em;
  margin-right: 10px;
}

.profile_personalDetails-socialsWrapper {
  display: flex;
  justify-content: space-around;
}