body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-bottom: 4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

a {
  transition: font-weight 1s;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  font-weight: 800;
}

q {
  font-size: 0.8em;
}

.App {
  text-align: center;
  margin: 0 3% 4em 3%;
}

.boxShadowStandard {
  -webkit-box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
  -moz-box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
  box-shadow: 10px 10px 5px 0 rgba(212,205,212,1);
}

/* Header */
.header_navigation-links {
  display: flex;
  flex-display: row;
  justify-content: space-around;

  width: 60%;
  margin: auto;
}

.header_navigation-linksSingle {
  width: 30em;
}


/* Purpose */
.purpose_section{}

.purpose_purposeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.purpose_purposeList_single {
  flex: 1;
  border: 1px dashed black;
  min-width: 30%;
  max-width: 30%;
}

.purposeSingle_quoteSource {
  font-size: 0.8em;
}

/* Contributions */
.contributions_contributionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contributions_contributionsSingle {
  flex-grow: 1;
  text-align: left;

  min-width: 30%;
  max-width: 30%;

  padding: 1em;
}

.contributions_speechBubble-contributionsSingleSpeech {
  position: relative;
  padding: 1em;

  border: 1px solid #61dafb;
  border-radius: 1em;
}

.contributions_speechBubble-contributionsSingleSpeech:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 42%;
  width: 0;
  height: 0;
  border: 1.5em solid transparent;
  border-top-color: #61dafb;
  border-bottom: 0;
  border-left: 0;
  margin-left: -4.5em;
  margin-bottom: -1.469em;
}

/* PROFILE */
.profile_personalDetails {
  display: flex;
  flex-direction: row;
  flex : 1;
  justify-content: left;
}

.profile_personalDetails-imageWrapper {
  align-self: center;
  padding: 0 1em;
}

.profile_personalDetails-image {
  width: 6em;
  height: 6em;
  border-radius: 3em;
  margin: auto;
}

.profile_personalDetails-prevRoleItem{
  font-size: 0.8em;
  margin-right: 10px;
}

.profile_personalDetails-socialsWrapper {
  display: flex;
  justify-content: space-around;
}

.contributeToSite_single{
  margin: 50px 0;
  padding: 50px;
  border: black dashed 1px;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 719px) {
  .purpose_purposeList_single {
    min-width: 100%;
    max-width: 100%;
  }

  .contributions_contributionsSingle{
    min-width: 100%;
    max-width: 100%;
  }

  .header_navigation-links{
    width: 100%;
  }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1000px) {
  .purpose_purposeList_single {
    min-width: 45%;
    max-width: 45%;
  }

  .contributions_contributionsSingle{
    min-width: 45%;
    max-width: 45%;
  }

  .header_navigation-links{
    width: 100%;
  }
}